* {
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
}

body {
  margin: 0;
  width: 100%;
}

header {
  background-color: #F5FCD0;
  padding-bottom: 2%;
}

.logo {
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;

}

.logo-img {
  height: auto;
  width: 10%;
  transition: all 1s;
}

.logo-img:hover {
  transform: rotate(360deg);
}

.form-shape {
  margin: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-shape p {
  margin: 0 auto 10px 0;
}

header h1 {
  font-size: 3vw;
  font-weight: bold;
  color: black;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5% 10%;
  background-image: linear-gradient(
      rgba(0, 0 , 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
  url(https://images.unsplash.com/photo-1504016798967-59a258e9386d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.article {
  width: 60%;
  background-color: white;
  border-radius: 5px;
  padding: 0 5%;
}

.article p {
  margin-bottom: 25px;
  font-size: 1.6vw;
}

.article h1 {
  font-size: 2.8vw;
}

.form-shape label {
  font-size: 1.8vw;
  margin-bottom: 2%;
}

.form-shape p {
  font-size: 2vw;
}

.form-shape input::placeholder {
  font-size: 1.5vw;
}

button {
  padding: 2.5%;
  cursor: pointer;
  font-size: 1.5vw;
}


.text-input {
  line-height: 100%;
  padding: 2.5%;
  margin: 2% 0;
  width: 90%;
  border: 1px solid black;
}

.article img {
  border-radius: 5px;
  display: block;
  height: auto;
  width: 80%;
  margin: 5% auto;
}

.survey {
  background-color: white;
  border-radius: 5px;
  width: 35%;
  height: auto;
}


nav {
  margin: 0 auto 0 auto;
  display: flex;
  background-color: #202020;
  align-items: center;
  justify-content: center;
}

.search-bar {
  margin: 1% 5% 1% 5%;
  line-height: 100%;
  padding: 0.5vw;
  width: 15%;
}

nav input::placeholder {
  font-size: 1.3vw;
}

.video {
  background-color: #EEE;
  background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2% 20% 10% 20%;
}

.video h2 {
    margin-top: 5%;
}

nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;

}

.nav-list li {
  width: 14.285%;
  text-align: center;
  padding: 1%;
}

li a:hover {
  color: gray;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 1.35vw;
}

footer {
  background-color: #33332F;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2% 0;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter input {
  padding: 1.5% 0;
  width: 50%;
  line-height: 100%;
}

.newsletter input::placeholder {
  font-size: 1.8vw;
}

footer p {
  color: #DDD;
  font-size: 1.8vw;
  margin: 0 2%;
}

input[type="radio"] {
  width: 1.5vw;
  height: 1.5vw;
  margin: 0 1%;
}

input[type="checkbox"] {
  width: 1.5vw;
  height: 1.5vw;
  margin: 0 1%;
}


#radio-form label {
  display: flex;
  align-items: center;
}

#check-form label {
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .search-bar {
    line-height: 15px;
  }
  .text-input {
    line-height: 15px;
    padding: 1%;
  }
}
@media (max-width: 800px) {
  .video {
    padding: 2% 0 10% 0;
  }

  .video h2 {
    font-size: 20px;
  }

  #youtube {
    width: 100%;
  }
  button {
    padding: 0;
  }
  .newsletter input {
    padding: 1% 0;
    width: 45%;
    line-height: 15px;
  }
}
